@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #5314CD;
    margin: auto;
    font-family: 'Nexa Bold', sans-serif;
}

div h1 {
    text-align: center;
    font-size: 30px;
    justify-content: center;
    margin-top: 16px;
}

div p {
    text-align: center;
    font-size: 17.7px;
    margin: 10px 10px 12px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: -5px;
}

div .box {
    position: relative;
    width: 85%;
    height: 45px;
    margin: 0px 0;
    margin-top: 10px;
}

.box input {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #cac6d170;
    border-radius: 20px;
    border: 2px solid #5314CD;
    font-size: 15px;
    padding: 0 50px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.11);
    transition: all 0.3s;
}

.box input:hover {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-1px);
    transition: all 0.7s;
}

.box input:focus {
    border-color: black;
    transition: all 0.3s;
}
    
.box input::placeholder {
    color: black;
}

.box img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.imagem-login {
    margin-bottom: 20px;
}

.imagem-login img {
    border-radius: 20px 20px 0px 0px;
    width: 358px;
}

section {
    background-color: white;
    width: 358px;
    height: 700px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 60px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    transition: 0.4s ease-out;
}

.redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-left: 5px;
    opacity: 0.7;
    gap: 10px;
}

.redes a img:hover {
    opacity: 1px;
    transition: all 0.7s;
    transform: translateY(-3px);
}

.entrar button {
    width: 220px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background-color: #4a12bb;
    transition: all 0.6s;
    margin-top: 5px;
    margin-left: 8px;
}

.esqueci-senha button {
    width: 220px;
    height: 36px;
    border-radius: 20px;
     border: 2px solid black;
    color: white;
    background-color: #5314CD;
    transition: all 0.6s;
    margin-top: 0px;
    margin-left: 8px;
}

.entrar button:hover {
    background-color: #110033d3;
    transform: translateY(-2px);
}

.esqueci-senha button:hover {
    background-color: #110033d3;
    transform: translateY(-2px);
}