@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #5214cd;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div h1 {
    text-align: center;
    margin-top: -21px;
    margin-bottom: 10px;
}

div p {
    text-align: center;
    font-size: 17.7px;
    margin: 5px 10px 14px 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 0px;
}

div .box {
    position: relative;
    width: 85%;
    height: 45px;
    margin: 0px 0;
    margin-top: 10px;
}

.box input {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #cac6d170;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 15px;
    padding: 0 50px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.11);
    transition: all 0.3s;
}

.box input:hover {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
    transform: translateY(-1px);
    transition: all 0.7s;
}

.box input:focus {
    border-color: #5214cdec;
    transition: all 0.3s;
}
    
.box input::placeholder {
    color: black;
}

.box img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.imagem-login {
    margin-bottom: 20px;
}

.imagem-login img {
    border-radius: 20px 20px 0px 0px;
    width: 358px;
    height: 290px;
}

section {
    background-color: white;
    width: 358px;
    height: 706px;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    transition: 0.4s ease-out;
}

.redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 7px;
    margin-left: 5px;
    gap: 10px;
    opacity: 0.9;
}

.redes a img {
    transition: all 0.7s;
    background-color: rgb(226, 226, 226);
    border-radius: 15%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.281);
}

.redes a img:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.entrar button {
    width: 220px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background-color: #3d0aa3;
    transition: all 0.6s;
    margin-top: 5px;
    margin-left:7px;
}

.esqueci-senha button {
    width: 220px;
    height: 36px;
    border-radius: 20px;
    border: 2px solid black;
    color: white;
    background-color: #3d0aa3;
    transition: all 0.6s;
    margin-top: 0px;
    margin-left:7px;
}

.entrar button:hover {
    background-color: #110033d3;
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
}

.esqueci-senha button:hover {
    background-color: #110033d3;
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
}