@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #5214cd;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 10px;
    padding-bottom: 55px;
    margin-top: 10px;
    margin-right: 20px;
    width: 100%;
}

header #logo a {
    user-select: none;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    user-select: none;
    margin-left: 20px;
}

#menu ul {
    list-style: none;
}

#menu a {
    position: relative;
    color: white;
    text-decoration: none;
    margin-right: 15px;
    font-size: 14.4px;
    font-weight: 500;
    transition: all 0.5s;
}

#menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

#menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

div h1 {
    text-align: center;
    margin-top: -18px;
    margin-bottom: 5px;
}

div p {
    text-align: center;
    font-size: 15px;
    margin: 12px 20px 12px 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: -2px;
}

div .box {
    position: relative;
    width: 85%;
    height: 40px;
    margin: 0px 0;
    margin-top: 10px;
}

.box input {
    position: relative;
    width: 100%;
    height: 95%;
    background-color: #cac6d142;
    border-radius: 15px;
    border: 1px solid black;
    font-size: 12px;
    padding: 0 60px;
    outline: none;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.11);
    transition: all 0.3s, transform .3s;
    margin-bottom: 5px;
}

.box input:hover {
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.226);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.116);
    transform: translateY(-2px);
    transition: all 0.7s;
}

.box input:focus {
    border-color: #5214cdec;
    transition: all 0.3s;
}
    
.box input::placeholder {
    color: rgba(0, 0, 0, 0.377);
}

.box img {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.7;
}

.box p {
    display: block;
    margin: auto;
    font-size: 12.5px;
    font-weight: 326;
    margin-top: 10px;
    margin-bottom: 0px;
}

.imagem-login {
    margin-bottom: 20px;
}

.imagem-login img {
    border-radius: 20px 20px 0px 0px;
    width: 320px;
    height: 250px;
}

section {
    display: block;
    background-color: white;
    width: 320px;
    height: 670px;
    border-radius: 25px;
    margin: auto;
    margin-top: 48px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.527);
    transition: 0.4s ease-out;
    align-items: center;
}

.redes {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 5px;
    gap: 10px;
    opacity: 0.7;
}

.redes a img {
    transition: all 0.5s;
    border-radius: 15%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0);
}

.redes a img:hover {
    transform: translateY(-3px);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.39);
}

.entrar button, .esqueci-senha button {
    width: 190px;
    height: 33px;
    border-radius: 10px;
    border: 2px solid black;
    color: white;
    background-color: #3d0aa3;
    transition: all 0.5s;
    margin-top: 0px;
    margin-left: 6px;
    cursor: pointer;
    font-size: 12px;
}

.entrar button:hover, .esqueci-senha button:hover {
    background-color: #110033;
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
}